.outlet{
  margin-top: 72px;
  width: calc(100% - 273px);
  margin-left: 273px;
  background-color: #F6F8FB;
  padding: 24px 41px;
  height: 100vh;
  min-height: 100%;
}

body{
  background-color: #F6F8FB;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
